@charset "UTF-8";
.red{
  color:red
}

.App-logo {
  width: 100px;
  pointer-events: none;
}
.header{
  background:black;
  height: 30px;

}
.header a{
  font-size: 16px;
  color:#fff;
  padding:5px 50px;
}




